<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head th:replace="base :: common_header(~{::title})">
    <title>Adicionar Atividade</title>
</head>

<body>
<section class="header-area">
    <div class="navbar-area" th:insert="~{base :: common_navbar}">
    </div>

    <div id="home" class="slider-area">
        <div class="container my-5">
            <h2 class="mb-5">Adicionar Atividade</h2>
            <div th:if="${errorMessage}" th:text="${errorMessage}" style="color:red"/>

            <div class="row">
                <div class="col-md-6">
                    <form action="#" th:action="@{/addatividade}" th:object="${atividade}" method="post">
                        <div class="form-group">
                            <label for="descricao" class="col-form-label">Descrição</label>
                            <input autofocus type="text" th:field="*{descricao}" class="form-control" id="descricao" placeholder="Descrição">
                            <span th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}" class="text-danger"></span>
                            </br>
                        </div>
                        <div class="form-group">
                            <label for="grau" class="col-form-label">Grau</label>
                            <select th:field="*{grau}" id="grau" class="form-control">
                                <option th:value="1" th:text="Pré-Escolar"></option>
                                <option th:value="2" th:text="Escolar"></option>
                            </select>
                            <span th:if="${#fields.hasErrors('grau')}" th:errors="*{grau}" class="text-danger"></span>
                            </br>
                        </div>
                        <div class="form-group">
                            <label for="url_externa" class="col-form-label">URL Externa</label>
                            <input type="text" th:field="*{url_externa}" class="form-control" id="url_externa" placeholder="URL Externa">
                            <span th:if="${#fields.hasErrors('url_externa')}" th:errors="*{url_externa}" class="text-danger"></span>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-primary" value="Confirmar">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>

<footer id="footer" class="footer-area" th:insert="~{base :: common_footer}">
</footer>

<div th:insert="~{base :: common_script}">
</div>
</body>
</html>
