<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head th:replace="base :: common_header(~{::title})">
    <title>Adicionar Aula</title>
</head>

<body>
<section class="header-area">
    <div class="navbar-area" th:insert="~{base :: common_navbar}">
    </div>

    <div id="home" class="slider-area">
        <div class="container my-5">
            <h2 class="mb-5">Adicionar Aula</h2>
            <div th:if="${errorMessage}" th:text="${errorMessage}" style="color:red"/>

            <div class="row">
                <div class="col-md-6">
                    <form action="#" th:action="@{/addaula}" th:object="${aula}" method="post">
                        <div class="form-group">
                            <label for="data" class="col-form-label">Data de Realização</label>
                            <input autofocus type="date" th:field="*{data}" class="form-control" id="data" placeholder="Data de Realização"/>
                            <span th:if="${#fields.hasErrors('data')}" th:errors="*{data}" class="text-danger"></span>
                            </br>
                        </div>

                        <div class="form-group">
                            <label for="professor" class="col-form-label">Professor</label>
                            <br />
                            <select th:field="*{professor}" id="professor" class="form-control">
                                <option th:each="professor : ${listaProfessores}"
                                        th:value="${{professor.id}}"
                                        th:text="${professor.nome}">
                                </option>
                            </select>
                            <span th:if="${#fields.hasErrors('professor')}" th:errors="*{professor}" class="text-danger"></span>
                            </br>
                        </div>

                        <div class="form-group">
                            <label for="materia" class="col-form-label">Matéria</label>
                            <select th:field="*{materia}" id="materia" class="form-control">
                                <option th:each="materia : ${listaMaterias}"
                                        th:value="${{materia.id}}"
                                        th:text="${materia.descricao}">
                                </option>
                            </select>
                            <span th:if="${#fields.hasErrors('materia')}" th:errors="*{materia}" class="text-danger"></span>
                            </br>
                        </div>

                        <div class="form-group">
                            <label for="turma" class="col-form-label">Turma</label>
                            <select th:field="*{turma}" id="turma" class="form-control">
                                <option th:each="turma : ${listaTurmas}"
                                        th:value="${{turma.id}}"
                                        th:text="${turma.descricao}">
                                </option>
                            </select>
                            <span th:if="${#fields.hasErrors('turma')}" th:errors="*{turma}" class="text-danger"></span>
                            </br>
                        </div>

                        <div class="form-group">
                            <label for="atividade" class="col-form-label">Atividade</label>
                            <select th:field="*{atividade}" id="atividade" class="form-control">
                                <option th:each="atividade : ${listaAtividades}"
                                        th:value="${{atividade.id}}"
                                        th:text="${atividade.descricao}">
                                </option>
                            </select>
                            <span th:if="${#fields.hasErrors('atividade')}" th:errors="*{atividade}" class="text-danger"></span>
                            </br>
                        </div>

                        <div class="row">
                            <div class="d-inline p-3">
                                <input type="submit" class="btn btn-primary" value="Confirmar">
                                <a href="/aula" class="btn btn-primary">Voltar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>

<footer id="footer" class="footer-area" th:insert="~{base :: common_footer}">
</footer>

<div th:insert="~{base :: common_script}">
</div>
</body>
</html>
