<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head th:replace="base :: common_header(~{::title})">
    <link href="/css/calendar-contain.css" rel="stylesheet" >
    <title>Atividade do Aluno</title>
</head>

<body>
<section class="header-area">
    <div class="navbar-area" th:insert="~{base :: common_navbar}">
    </div>

    <div id="home" class="slider-area">


        <div th:switch="${atividades}" class="container my-5">
            <div th:if="${errorMessage}" th:text="${errorMessage}" style="color:red"/>
            <div th:if="${sucessMessage}" th:text="${sucessMessage}" style="color:green"/>

            <div class="row">
                <div class="col-md-6">
                    <!-- <h2 th:if="${#lists.isEmpty(atividades)}">Sem registros!</h2> -->
                    <!-- https://codepen.io/tomcwatts/pen/PmaWpZ -->
                    <main class="calendar-contain">
                        <!--<section class="title-bar">
                            <button class="title-bar__burger">
                                <span class="burger__lines">Toggle Menu</span>
                            </button>
                            <span class="title-bar__year">
                              Calendário > Maio de 2020
                            </span>

                        </section>-->

                        <aside class="calendar__sidebar">
                            <h2 class="sidebar__heading">Quinta-feira<br>14 de Maio</h2>
                            <ul class="sidebar__list">
                                <li class="sidebar__list-item sidebar__list-item--complete"><span class="list-item__time">8.30</span> Ciências </li>
                                <li class="sidebar__list-item sidebar__list-item--complete"><span class="list-item__time">10.00</span> Português</li>
                                <!--<li class="sidebar__list-item"><span class="list-item__time">2.30</span> Design Review</li>
                                <li class="sidebar__list-item"><span class="list-item__time">4.00</span> Get Groceries</li> -->
                            </ul>
                        </aside>

                    </main>
                </div>
                <div class="col-md-6">
                    <iframe src="https://www.w3schools.com" width="80%" height="60%" title="W3Schools Free Online Web Tutorials"> </iframe>

                </div>
            </div>
        </div>
    </div>

</section>

<footer id="footer" class="footer-area" th:insert="~{base :: common_footer}">
</footer>

<div th:insert="~{base :: common_script}">
</div>
</body>
</html>