<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head th:replace="base :: common_header(~{::title})">
    <title>Matéria</title>
</head>

<body>
<section class="header-area">
    <div class="navbar-area" th:insert="~{base :: common_navbar}">
    </div>

    <div id="home" class="slider-area">
        <div th:switch="${materias}" class="container my-5">
            <div th:if="${errorMessage}" th:text="${errorMessage}" style="color:red"/>
            <div th:if="${sucessMessage}" th:text="${sucessMessage}" style="color:green"/>

            <div class="row">
                <div class="col-md-6">
                    <a href="/newmateria" class="btn btn-primary btn-novo d-flex flex-row-reverse"><em class="fas fa-user-plus ml-2"></em></a>
                    <p></p>

                    <h2 th:if="${#lists.isEmpty(materias)}">Sem registros!</h2>
                    <div th:unless="${#lists.isEmpty(materias)}">
                        <h2 class="d-flex flex-row">Matérias</h2>
                        <table class="table table-striped" style="width:100%;">
                            <caption>Matérias cadastradas</caption>
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Assunto</th>
                                <th scope="col">Descrição</th>
                                <th scope="col">Grau</th>
                                <th scope="col">Objetivos</th>
                                <th scope="col">Situação</th>
                                <th scope="col">Alterar</th>
                                <th scope="col">Remover</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="materia : ${materias}">
                                <td th:text="${materia.id}"></td>
                                <td style="width:80%;">
                                    <div th:each="assunto : ${materia.assuntos}">
                                        <p th:text="${assunto.descricao}"/>
                                    </div>
                                </td>
                                <td th:text="${materia.descricao}" style="width:80%;"></td>
                                <td>
                                    <span th:if="${materia.grau == 1}">Pré-Escolar</span>
                                    <span th:unless="${materia.grau == 1}">Escolar</span>
                                </td>
                                <td th:text="${materia.objetivos}"></td>
                                <td>
                                    <span th:if="${materia.ativo}">Ativa</span>
                                    <span th:unless="${materia.ativo}">Inativa</span>
                                </td>
                                <td><a th:href="@{/editmateria/{id}(id=${materia.id})}" class="btn btn-primary"><em class="fas fa-user-edit ml-2"></em></a></td>
                                <td><a th:href="@{/deletemateria/{id}(id=${materia.id})}" class="btn btn-primary"><em class="fas fa-user-times ml-2"></em></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<footer id="footer" class="footer-area" th:insert="~{base :: common_footer}">
</footer>

<div th:insert="~{base :: common_script}">
</div>
</body>
</html>