<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
    <head th:replace="base :: common_header(~{::title})">
        <title>Início</title>
    </head>

    <body>

        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    <div th:insert="~{base :: header_fragment(~{::h3})}">
                        <h3>AtivaDI</h3>
                    </div>

                    <div class="panel panel-default" style="margin: 10px">
                        <div class="panel-heading">
                            <h1 class="panel-title">AtivaDI</h1>
                        </div>

                        <div class="panel-body">

                        </div>
                    </div>

                    <div th:insert="~{base :: footer_fragment}"/>
                </div>
            </div>
        </div>

        <script th:src="@{/webjars/jquery/jquery.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>
    </body>
</html>