<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
    <head th:replace="base :: common_header(~{::title})">
        <title>Início</title>
    </head>

    <body>
        <section class="header-area">
            <div class="navbar-area" th:insert="~{base :: common_navbar}">
            </div>

            <div id="home" class="slider-area" th:insert="~{base :: common_slide}">
            </div>
        </section>

        <footer id="footer" class="footer-area" th:insert="~{base :: common_footer}">
        </footer>

        <div th:insert="~{base :: common_script}">
        </div>
    </body>
</html>