<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Atualizar Aula</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
</head>
<body>
<div class="container my-5">
    <h2 class="mb-5">Alterar Aula</h2>

    <div th:if="${errorMessage}" th:text="${errorMessage}" style="color:red"/>

    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/updateaula/{id}(id=${aula.id})}" th:object="${aula}" method="post">
                <div class="form-group">
                    <label for="data" class="col-form-label">Data de Realização</label>
                    <input type="date" th:field="*{data}" class="form-control" id="data" placeholder="Data de Realização"/>
                    <span th:if="${#fields.hasErrors('data')}" th:errors="*{data}" class="text-danger"></span>
                    </br>
                </div>

                <div class="form-group">
                    <label for="professor" class="col-form-label">Professor</label>
                    <br />
                    <select th:field="*{professor}" id="professor" class="form-control">
                        <option th:each="professor : ${listaProfessores}"
                                th:value="${{professor.id}}"
                                th:text="${professor.nome}">
                        </option>
                    </select>
                    <span th:if="${#fields.hasErrors('professor')}" th:errors="*{professor}" class="text-danger"></span>
                    </br>
                </div>

                <div class="form-group">
                    <label for="materia" class="col-form-label">Matéria</label>
                    <select th:field="*{materia}" id="materia" class="form-control">
                        <option th:each="materia : ${listaMaterias}"
                                th:value="${{materia.id}}"
                                th:text="${materia.descricao}">
                        </option>
                    </select>
                    <span th:if="${#fields.hasErrors('materia')}" th:errors="*{materia}" class="text-danger"></span>
                    </br>
                </div>

                <div class="form-group">
                    <label for="turma" class="col-form-label">Turma</label>
                    <select th:field="*{turma}" id="turma" class="form-control">
                        <option th:each="turma : ${listaTurmas}"
                                th:value="${{turma.id}}"
                                th:text="${turma.descricao}">
                        </option>
                    </select>
                    <span th:if="${#fields.hasErrors('turma')}" th:errors="*{turma}" class="text-danger"></span>
                    </br>
                </div>

                <div class="form-group">
                    <label for="atividade" class="col-form-label">Atividade</label>
                    <select th:field="*{atividade}" id="atividade" class="form-control">
                        <option th:each="atividade : ${listaAtividades}"
                                th:value="${{atividade.id}}"
                                th:text="${atividade.descricao}">
                        </option>
                    </select>
                    <span th:if="${#fields.hasErrors('atividade')}" th:errors="*{atividade}" class="text-danger"></span>
                    </br>
                </div>

                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="Atualizar Aula">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>
</body>
</html>