<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head th:replace="base :: common_header(~{::title})">
    <title>Alterar Assunto</title>
</head>

    <body>
        <section class="header-area">
            <div class="navbar-area" th:insert="~{base :: common_navbar}">
            </div>

            <div id="home" class="slider-area">
                <div class="container my-5">
                    <h2 class="mb-5">Alterar Assunto</h2>
                    <div th:if="${errorMessage}" th:text="${errorMessage}" style="color:red"/>

                    <div class="row">
                        <div class="col-md-6">
                            <form action="#" th:action="@{/updateassunto/{id}(id=${assunto.id})}" th:object="${assunto}" method="post">
                                <div class="form-group">
                                    <label for="descricao" class="col-form-label">Nome</label>
                                    <input autofocus type="text" th:field="*{descricao}" class="form-control" id="descricao" placeholder="Descrição">
                                    <span th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}" class="text-danger"></span>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mt-5">
                                        <input type="submit" class="btn btn-primary" value="Confirmar">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <footer id="footer" class="footer-area" th:insert="~{base :: common_footer}">
        </footer>

        <div th:insert="~{base :: common_script}">
        </div>
    </body>
</html>
